body, html {
  height: 100%;
  width: 100%;
}

.bg {
  background-color: #343434;
  height: 100%;
  width: 100%;
  position: fixed;
}

.text {
  color: #E5E4E2;
  text-align: center;
}

.text h1 {
  font-size: 60pt;
  font-family: 'Permanent Marker';
}

.text p {
  font-size: 25pt;
  font-family: 'Indie Flower';
}

.text a, .text a:hover, .text a:visited {
  color: #E5E4E2;
  font-size: 26pt;
}
