{% load staticfiles %}

<html>
  <head>
    <title>RIDDLE DIDDLE</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Indie+Flower|Permanent+Marker">
    <link rel="stylesheet" href="{% static 'css/grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  </head>
  <body>
    <div class="page-header">
      {% if user.is_authenticated %}
        <a class="top-menu" href="{% url 'post_new' %}">
          <span class="glyphicon glyphicon-plus"/>
        </a>
      {% endif %}
      <h1>
        <a href="{% url 'index' %}">RIDDLE DIDDLE</a>
      </h1>
    </div>

    <div class="content container">
      <div class="row">
        <div class="col-md-8">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
