{% load staticfiles %}

<html>
  <head>
    <title>RIDDLE DIDDLE</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Indie+Flower|Permanent+Marker">
    <link rel="stylesheet" href="{% static 'css/grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
  </head>
  <body>
    <div class="bg">
      <div class="text layout-align-center-center">
        <h1>RIDDLE DIDDLE</h1>
        <p>Click the arrow to see the riddles.</p>
        <a href="{% url 'post_list' %}">
          <span class="glyphicon glyphicon-circle-arrow-right"/>
        </a>
      </div>
    </div>
  </body>
</html>
