{% extends 'blog/base.html' %}

{% block content %}

{% for post in posts %}
  <div class="post">
    <h1>
      <a class="title" href="{% url 'post_detail' pk=post.pk %}">
        {{ post.title }}
      </a>
    </h1>

    <p class="details">{{ post.question }}</p>
  </div>
{% endfor %}

{% endblock %}
