{% extends 'blog/base.html' %}

{% block content %}

  <h1>
    <a class="back" href="{% url 'post_list' %}">
      <span class="glyphicon glyphicon-circle-arrow-left"/>
    </a>
  </h1>

  <div class="post">
    <h1>
      <a class="title" href="">{{ post.title }}</a>

      {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
          <span class="glyphicon glyphicon-pencil"/>
        </a>
      {% endif %}
    </h1>

    <p class="details">{{ post.text|linebreaksbr }}</p>

    <p class="details bold">Question: {{ post.question }}</p>

    <p class="details bold">Answer: {{ post.answer }}</p>
  </div>

{% endblock %}
