{% extends 'blog/base.html' %}

{% block content %}

  <h1>
    <a class="back" href="{% url 'post_list' %}">
      <span class="glyphicon glyphicon-circle-arrow-left"/>
    </a>
  </h1>

  <h1 class="title">New riddle post</h1>

  <form method="POST" class="post-form">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save">Save</button>
    <button type="reset" class="reset">Reset</button>
  </form>

{% endblock %}
