.page-header {
  background-color: #343434;
  margin-top: 0;
  padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #E5E4E2;
    font-size: 36pt;
    text-align: center;
    text-decoration: none;
}

.content {
  margin-left: 40px;
}

h1, h2, h3, h4 {
  font-family: 'Permanent Marker';
}

.save, .reset {
  font-family: 'Permanent Marker';
  font-size: 14pt;
}

.post-form textarea, .post-form input {
    width: 100%;
}

label {
  font-family: 'Indie Flower';
  font-size: 18pt;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #E5E4E2;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.back, .back:hover, .back:active {
  color: #343434;
  font-size: 26pt;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #343434;
}

.title, .title:hover, .title:visited {
  font-size: 26pt;
  text-decoration: none;
}

.details {
  font-family: 'Indie Flower';
  font-size: 18pt;
}

.bold {
  font-weight: bold;
}

.btn {
  padding-left: 15px;
}
